<section class='section-highlight'>
  <h1>Reports - Ambassadors</h1>
</section>

<div class="panel m-md-a">
  <div class="panel-heading">
    Ambassador Summary
  </div>
  <div class="panel-body">
    <div class='m-sm-b'>
      <p>
        Download a report summarizing the activities of your ambassadors.
      </p>
      <p>
        Report includes a list of ambassadors that have had successful referrals and the number of conversions / amount raised / unique campaigns their referrals generated.
      </p>
    </div>
    <button {{action 'downloadCSV'}}>Download CSV (All)</button>

  </div>
</div>
