<section class='quick-stats-container'>
  <div class='single-stat'>
    <i class="fa fa-gift fa-lg"></i>
    <h3>gifts received:</h3>
    <p>{{gifts}}</p>
  </div>
  <div class='single-stat'>
    <i class="fa fa-users fa-lg"></i>
    <h3>number of donors:</h3>
    <p>{{donors}}</p>
  </div>
  <div class='single-stat'>
    <i class="fa fa-mouse-pointer fa-lg"></i>
    <h3>Page Interactions</h3>
    <p>{{interactions}}</p>
  </div>
</section>
