<h2>% Email Deliverability</h2>
<div class="middle">
  <span class="fa-stack fa-lg">
    <i class="fa fa-stack-1x">%</i>
    <i class="fa fa-circle-thin fa-stack-2x"></i>
  </span>
  <p class ="stats">{{total}}</p>
</div>
