.pagination {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  .page-item{
    font-weight: bold;
    color: $brand-primary;
    line-height: 11px;
    text-align: center;
    cursor: pointer;

    display: inline-block;
    min-width: 30px;
    height: 30px;
    padding: 7px 5px;
    margin: 0 5px;
    border: 1px solid $brand-primary;
    border-radius: 3px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover:not(.disabled):not(.active) {
      background-color: darken($brand-primary, 10%);
      border-color: darken($brand-primary, 10%);
      color: $white;
    }

    span {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
    &.active {
      color: $white;
      background-color: $brand-primary;
      cursor: default;
    }
    &.disabled {
      border-color: lighten($brand-primary, 15%);
      color: lighten($brand-primary, 15%);
      cursor: not-allowed;
    }
  }
}
