<td>
  <div class='flex-it'>
    <div class='table-icon-well--default'>
      <i class='fa fa-fw fa-user'></i>
    </div>
    <div class='table-text-well--user'>
      <span>Example User</span>
    </div>
  </div>
</td>
<td>
  <div class='flex-it center-it'>
    <div class='table-icon-well--conversions'>
      <i class='fa fa-fw fa-check'></i>
    </div>
    <div class='table-text-well'>
      <span>1</span>
    </div>
  </div>
</td>
<td>
  <div class='flex-it center-it'>
    <div class='table-icon-well--conversions'>
      <i class='fa fa-fw fa-retweet'></i>
    </div>
    <div class='table-text-well'>
      <span>1</span>
    </div>
  </div>
</td>
<td>
  <div class='flex-it center-it'>
    <div class='table-icon-well--email'>
      <i class='fa fa-fw fa-envelope'></i>
    </div>
    <div class='table-text-well'>
      <span>132</span>
    </div>
  </div>
</td>
<td>
  <div class='flex-it center-it'>
    <div class='table-icon-well--sms'>
      <i class='fa fa-fw fa-phone'></i>
    </div>
    <div class='table-text-well'>
      <span>43</span>
    </div>
  </div>
</td>
<td>
  <div class='flex-it center-it'>
    <div class='table-icon-well--facebook'>
      <i class='fa fa-fw fa-facebook'></i>
    </div>
    <div class='table-text-well'>
      <span>23</span>
    </div>
  </div>
</td>
<td>
  <div class='flex-it center-it'>
    <div class='table-icon-well--email-clicked'>
      <i class='fa fa-fw fa-hand-pointer-o'></i>
    </div>
    <div class='table-text-well'>
      <span>23</span>
    </div>
  </div>
</td>
<td>
  <div class='flex-it center-it'>
    <div class='table-icon-well--email-opened'>
      <i class='fa fa-fw fa-inbox'></i>
    </div>
    <div class='table-text-well'>
      <span>78</span>
    </div>
  </div>
</td>
<td></td>
