<header class="single-campaign-header">
  <h1 class="sub-header"><i class="fa fa-fw fa-calculator"></i>Crunching some numbers. Hang tight.</h1>
</header>


<section class="campaign-impact-reporting">
  <ul class="stats stats--bottom">
    <li class="stat">
      <span class="stat__metric loading"></span>
    </li>
    <li class="stat">
      <span class="stat__metric loading"></span>
    </li>
    <li class="stat">
      <span class="stat__metric loading"></span>
    </li>
    <li class="stat">
      <span class="stat__metric loading"></span>
    </li>
    <li class="stat">
      <span class="stat__metric loading"></span>
    </li>
    <li class="stat">
      <span class="stat__metric loading"></span>
    </li>
    <li class="stat">
      <span class="stat__metric loading"></span>
    </li>

    <li class="stat">
      <span class="stat__metric loading"></span>
    </li>
    <li class="stat">
      <span class="stat__metric loading"></span>
    </li>
    <li class="stat">
      <span class="stat__metric loading"></span>
    </li>
    <li class="stat">
      <span class="stat__metric loading"></span>
    </li>
    <li class="stat">
      <span class="stat__metric loading"></span>
    </li>
  </ul>
</section>
