<div class="product-bar settings-product">
  <div class="product-label">
    Campaign Tiles Sections
  </div>

  {{#link-to 'editor' class="nav-link"}}
    <i class="fa fa-fw fa-bars"></i> View All
  {{/link-to}}
</div>

<section class="main-content campaigns">
  {{outlet}}
</section>
