<div class="product-bar settings-product">
  <div class="product-label">
    Events
  </div>
  {{#link-to 'events.index' class="nav-link"}}
    <i class="fa fa-fw fa-bars"></i> List
  {{/link-to}}
</div>
<section class="main-content events">
  {{outlet}}
</section>
