{{!-- <div class="side-nav">
  <ul>
    {{#link-to 'member_dashboard' tagName='li'}}
      <i class="fa fa-database"></i>
      <p>Dashboard</p>
    {{/link-to}}

    {{#link-to 'member_email' tagName='li'}}
      <i class="fa fa-envelope"></i>
      <p>Email</p>
    {{/link-to}}
  </ul>
</div> --}}

{{outlet}}
