<div class="product-bar settings-product">
  <div class="product-label">
    Memberships
  </div>

  {{#link-to 'memberships' class="nav-link"}}
    <i class="fa fa-fw fa-bars"></i> List
  {{/link-to}}
</div>

<section class="main-content campaigns">
  {{outlet}}
</section>
